{{#if remove_Docs_Page }}
<section id="section">
<ul class="mynav">    
<li><a href="/release">Release Docs</a></li>
<li><a href="/remove" class="active">Remove Docs</a></li>
<li><a href="/logout" class="logout">Logout</a></li>
</ul>
<div class="container">
<h3 class="title">Remove docs!</h3>
<div>
<p>Remove Page</p>
</div>
</div>
<div class="cr">
<span>Copyright &copy; Miloš Ilić 2022</span>
</div>
</section>
{{/if}}
